<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyB6Ayk_5vGc539xwXfKW-kVxU7jIH8MPV0</string>
	<key>GCM_SENDER_ID</key>
	<string>919731300037</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.jesusperez.LightSummit</string>
	<key>PROJECT_ID</key>
	<string>lightsummit-f9182</string>
	<key>STORAGE_BUCKET</key>
	<string>lightsummit-f9182.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:919731300037:ios:93a6427f9e5c0534ed32ac</string>
</dict>
</plist>